/* TO BE DELETED
Temporarily inserted this because Semantics was 
using white color text on white background for Input fields */
input {
	color: #242424;
}

/* Override Semantic UI's default font-family */
/* This affects semantic element using class .uisuch as header, menu, etc */
/* This seems to be most elements except for Accordion, Card header, etc */

/* Sans font family adopted from Open-Props typography: https://open-props.style/#typography */
.ui {
	font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
		Noto Sans, sans-serif !important;
}

html,
body {
	height: auto !important;
	min-height: 100vh;
}
